.searchbar form{
    display: flex;
    align-items: center;
}
.searchbar input{
    margin-left: 10px;
}
.searchbar label{
    margin-right: 1px;
}

@media screen and (max-width:780px) {
    .searchbar label {
        display: none;
    }
    .searchbar input {
        margin-left: 0;
    }

}