.navbar {
  background: #100e2c;
  padding: 20px;
  color: #f2f0ea;
}


.navbar nav {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 14px;
}

.navbar a.brand {
  margin-right: auto;
  color: #f2f0ea;
  text-decoration: none;
}



/* f9c403 */

@media screen and (max-width:480px) {
.navbar{
padding: 30px 10px;
display: flex;
}

.navbar .mobile{
  display: flex;
  gap: 6px;
}

.navbar a.brand{
width: fit-content;
padding: 0;
margin: 0;
}

.navbar a.brand h1 {
width: fit-content;
padding: 0;
margin: 0;
text-align: center;
}
}

@media screen and (max-width:780px) {
  .navbar .mobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

  .navbar .desktop{
    display: none;
}

  .navbar a.brand {
    margin-right: 0;

  }
  .navbar a.create-link {
     color: #f2f0ea;
     text-decoration: none;
     border: 1px solid #f2f0ea;
     text-align: center;
     font-size: 12px;
     padding: 10px;
     border-radius: 50px;
   }
 }
 @media (min-width:780px) {
  .navbar .mobile{
   display: none;
   }
   .navbar a:last-child {
  color: #f2f0ea;
  text-decoration: none;
  margin-left: 40px;
  padding: 8px;
  border: 1px solid #f2f0ea;
  border-radius: 4px;
}
.navbar a:last-child:hover {
  background: #f2f0ea;
  color: #100e2c;
}
 }
