.create{
max-width: 480px;
margin: 60px auto;
}
.create .top{
    display: flex;
    align-items: center;
    justify-content: start;
}
.create span {
    padding: 20px 10px;
}
.create button{
    display: block;
    width: 100px;
    font-size: 1em;
    color:azure;
    background-color: teal;
    padding: 8px 20px;
    border: 0;
    border-radius: 4px;
    cursor:pointer;
    margin: 20px auto;
}
.create .btn{
    width: auto;
    display: flex;
    background-color: rgb(229, 61, 61);
}
.artists{
    display: flex;
    align-items: center;
}
.artists button{
    margin: 0 0 0 10px;
}

@media screen and (max-width:480px) {
.create{
margin: 20px auto;
}
.create .top{
margin: 2px;

}
.top .btn {
font-size: 16px;
}
.top .page-title {
font-size: 24px;
}
.create form{
padding:0 10px;
}
.create span {
    padding: 10px 10px;
    font-size: 20px;
}
.create p{
    font-size: 16px;
}
.create button{
    font-size: 16px;

}
}
